@import "tailwindcss";

.my-toast {
  background: white;
  color: #2563eb;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
}

.my-toast .Toastify__toast-icon {
  background: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-toast .Toastify__toast-icon svg {
  color: blue;
  fill: blue;
}